:root {
    --accent: rgb(0,122,255);
    --tob-bg: rgb(142,142,147);
    --accent-black-bg: rgb(10,132, 255);
    --code-background-color: #272822;
    --green: rgb(4,222,113);
    --yellow: rgb(255,214,10);
    --bg-ios-darkest: #1c1c1e;
}
body {
    font-size: 1.2rem;
    margin: 0;
    color: white;
    background-color: black;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.main-heading {
    text-align: center;
    padding: 1rem;
    border-bottom: solid 2px black;
}
h1 {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
h4 {
    text-align: center;
    color: grey;
}
.description {
    font-family: Helvetica, sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
}
.footer {
    margin: auto;
    background-color: black;
    color: white;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    width: 50%;
    font-size: 1rem;
}
@media (max-width: 600px) {
    .footer {
        width: 75%;
    }
}
.footer p {
    text-align: center;
    margin: 0;
}
.footer > p > a {
    color: var(--accent-black-bg);
}
.all-content {
    max-width: 900px;
    margin: auto;
    background-color: black;
    padding: 1rem;
}
.author {
    color: grey;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
}
a {
    color: var(--accent-black-bg);
    text-decoration: none;
    padding: 0.25rem;
}
a:hover,
.footer > p > a:hover {
    background-color: var(--accent);
    color: white;
    padding: 0.25rem;
    border-radius: 4px;
}
.nav-bar {
    display: flex;
    background-color: var(--bg-ios-darkest);
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0rem;
    padding: 1rem;
    top: 0;
}
.nav-item > a {
    color: white;
}
.nav-item > a:hover {
    background-color: white;
    color: black;
}
@media (min-width: 600px) {
    .nav-bar {
        position: sticky;
    }
}


blockquote {
    border: solid 4px rgb(219, 217, 217);
    padding: 0.75rem;
    border-radius: 8px;
}
blockquote > p {
    margin: 0;
}
.post-title {
    text-align: center;
}
::selection {
    background-color: var(--accent);
    color: white;
}
img {
    width: 100%;
}
.post-list {
    margin: 0.25rem;
}
.post-divider {
    margin: 0;
}
.highlight {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    padding: 0;
}
code {
   font-family: monospace;
    border-radius: 4px;
    padding: 0.15rem;
    font-size: 1rem;
    margin: 0;
}
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: grey;
    padding: 1rem;
    margin: 0;
}
.time {
    background-color: var(--accent-black-bg);
    color: black;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: 200px;
    border-radius: 16px;
    margin: 0;
    font-size: 1rem;
}

.status-all {
    padding: 0.15rem 1rem;
    margin: 0;
    border-radius: 16px;
    background-color: var(--bg-ios-darkest);
    color: white;
}
.timeam {
    font-size: 1rem;
}
.nav-blog > a::before,
.timeam::before,
.date-only::before,
.mood::before,
.nav-home > a::before,
.nav-main-website > a::before,
.nav-rss > a::before {
    margin-right: 0.25rem;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
}

.timeam::before {
    content: "\f017";
}
.date-only::before {
    content: "\f133";
}
.mood::before {
    content: "\f02c";
}
.nav-home > a::before {
    content: "\f015";
}
.nav-main-website > a::before {
    content: "\f0ac";

}
.nav-rss > a::before {
    content: "\f09e";

}
.nav-blog > a::before {
    content: "\f044";
}
